<p id="notice"><%= notice %></p>

<p>
  <strong>Roomid:</strong>
  <%= @room.roomID %>
</p>

<p>
  <strong>Width:</strong>
  <%= @room.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @room.length %>
</p>

<p>
  <strong>Maxo:</strong>
  <%= @room.maxO %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
