<p id="notice"><%= notice %></p>

<p>
  <strong>Ownerid:</strong>
  <%= @owner.ownerID %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @owner.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @owner.lastName %>
</p>

<p>
  <strong>Lastvisit:</strong>
  <%= @owner.lastVisit %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @owner.phoneNumber %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
